@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(241, 196, 69);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color:#FFFFFF;
}

header{
    width: 100%;
    height: 15%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 2px solid #3068b3;
}
header>div{
    height:100%;
    width:50%;
    display: inherit;
    align-items: center;
    justify-content: end;
    overflow: hidden;
}
header> div:nth-child(1){
    justify-content:center;
}
img {
    width: 32%;
    min-width: 150px;
}
select{
    height: 50%;
    width: 80%;
    text-align: center;
    border: 3px solid black;
    border-radius: 3px;
}
select > option {
    padding: 5px;
}


main{
    display:flex;
    width:100%;
    min-width: 700px;
    height:77%;
    justify-content: center;
    align-items:center;
}
.page{
    width:40%;
    max-width:350px;
    height: 100%;
    display:flex;
    align-items: end;
}
.page:nth-child(1){
    justify-content: end;
}

.panel{
    height:97%;
    width:100%;
    border: 2px solid #6e041f;
    border-right: 1px solid #6e041f;
    background-color: #F00A0A;
    display:flex;
    flex-direction: column;
}
main :nth-child(1) .panel{
    border-radius: 15px;
    border-bottom-right-radius: 0;
}
main :nth-child(2) .panel{
    height:85%;
    border-left: 1px solid #740101;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.panel > div{
    display: flex;
    align-items: center;
    border: 1px solid black;
}


.top{
    height: 20%;
    justify-content: end;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#types-box{
    width:80%;
    height:50%;
    display: flex;
    flex-direction: row-reverse;
    align-self:flex-end;
    justify-content: space-evenly;
    align-items:center;
}
#types-box > a{
    width:40%;
    padding:3px;
    background: #FFFFFF;
    color:black;
    border:1px solid black;

}

.middle{
    height:50%;
    background-color: #F6033F;
    justify-content: center;
}
#picture-box{
    width: 80%;
    height: 90%;
    border: 1px solid black;
    background-color: #E4E4E4;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}
.pic{
    height:90%;
    width:90%;
    background-color: #E4E4E6;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.pic > img{
    width:85%;
    height:89%;
    border:2px solid black;
    background-color: black;
}
.arrows{
    font-size:250%;
    color:#3068b3;
    position: absolute;
    top: 50%;
    right:0;
}
.info{
    height:15%;
    width: 100%;
    border-radius: 15px;
    display:flex;
    justify-content: space-evenly;
    color:black;
}
.info > a{
    margin: auto 0;
}
#poke-name::first-letter{
    text-transform: capitalize;
}

#pokeID-box{
    width:100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.bottom{
    height: 30%;
    justify-content: center;
    border-bottom-left-radius: 10px;
}
#description-box{
    width:70%;
    height: 90%;
    padding:8px;
    background-color: #003E31;
    border: 1px solid black;
    border-radius: 5px;
    font-size:10px;
    display: flex;
    align-items: center;
    text-align: start;    
}

main :nth-child(2) .panel > div{
    justify-content: center;
}
main :nth-child(2) .panel > .top{
    height: 8.5%;
    border-top-left-radius: 0px;
}
main :nth-child(2) .panel > .middle-top{
    height: 20%;
}
main :nth-child(2) .panel > .middle{
    height: 15%;
    flex-direction: column;
}
main :nth-child(2) .panel > .bottom{
    height: 56.5%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
}

.size-box{
    width: 80%;
    height: 80%;
    background-color: #003E31;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.wrap{
    width: 100%;
    height:100%;
    display: flex;
    align-items: flex-end;
}
.wrap > div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrap > div > p {
    margin:auto;
    font-size: 9px;
}
.left > div{
    height: 50%;
}
.right > div{
    height: 50%;
}
.type{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.middle > div{
    height: 50%;
    width: 100%;
}
.hp-value{
    display:flex;
    align-items: flex-end;
}
.hp-value > a {
    margin-left:6%;
}
.health-wrap{
    height: 50%;
    width: 90%;
    margin:auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid black;
}
#health{
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: #9BCC50;
}

#poke-stats{
    width: 80%;
    height: 90%;
    background-color: #003E31;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 9px;
    text-align: start;
}
#poke-stats > div{
    display: flex;
    justify-content: space-between;
    height: 15%;
}
#poke-stats > div > p{
    margin:auto;
}
#poke-stats > div > p:nth-child(1){
    width: 70%;
}


footer{
    width: 100%;
    height: 8%;
    background-color: #FFFFFF;
    margin-top:1%;
    border-top: 2px solid black;
}